@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuentes Helvetica Neue */
@font-face {
  font-family: 'Helvetica Neue';
  src: url('./public/fonts/HelveticaNeueRoman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./public/fonts/HelveticaNeueBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

code {
  font-family: ui-mono, SFMono-Regular, 'SF Mono', Consolas, 'Liberation Mono', Menlo, monospace;
} 